[buildout]
develop = .
parts = devpython test
versions = versions

[versions]
# keep in sync with requirements.txt
setuptools = 38.4.0
zc.buildout = 2.10.0

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = martian

[test]
recipe = zc.recipe.testrunner
eggs = martian
       martian[test]
defaults = ['-v', '--auto-color']
